<h1><%= @user.name %></h1>
<h3><%= @user.username %></h3>
<h3><%= @user.muse %></h3>
<p><%= @user.bio %></p>
<!-- List of events hosting?
List of events attending
Link to edit profile
Small form for create event-->
